/*PROGRESS BAR (UPLOAD)*/
#progress-wrp {
    border: 1px solid #999999;
    padding: 1px;
    position: relative;
    height: 20px;
    width: auto;
    /*left: 20%;*/
    border-radius: 0px;
    margin: 0px;
    margin-top: -13px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}
#progress-wrp .progress-bar{
    height: 100%;
    /*margin-top: -13px;*/
    border-radius: 0px;
    background-color: #58FAAC;
    width: 20%;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}
#progress-wrp .status{
    top:0px;
    left:50%;
    position:absolute;
    display:inline-block;
    color: #000000;
    font-size: 12px;
}